<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<form th:action="@{/login}" method="post">
		<table border="1">
			<tr>
				<td>회원아이디</td>
				<td>
					<input type="text" name="memberId">
				</td>
			</tr>
			<tr>
				<td>회원비밀번호</td>
				<td>
					<input type="password" name="memberPw" >
				</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: center;">
					<button type="submit">로그인</button>
				</td>
			</tr>
		</table>
	</form>
	<label th:if="${result != null}" th:text="${result}"></label>
</th:block>

</html>