<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- begin header -->
	<div id="header" th:fragment="headerFragment">
		header.html <br>
		상단 메뉴 <br><br>
		<a th:if="${session.SID == null or session.SLEVEL == 1}" th:href="@{/addMember}">01회원가입</a>
		<!-- /* <%= request.getContextPath() %>/minsert  == th:href="@{/minsert}" */ -->
		<a th:if="${session.SLEVEL == 1 or session.SLEVEL == 3}" th:href="@{/memberList}">02회원전체검색</a>
		<a th:if="${session.SLEVEL == 1 or session.SLEVEL == 2}" th:href="@{/addGoods}">03상품등록</a>
		<a th:if="${session.SLEVEL == 1 or session.SLEVEL == 2}" th:href="@{/goodsList}">04상품전체검색</a>
		<a th:if="${session.SID == null}" th:href="@{/login}">05로그인</a>
		<a th:unless="${session.SID == null}" th:href="@{/logout}">06로그아웃</a>
		<a th:if="${session.SID != null and session.SLEVEL == 1}" th:href="@{/loginHistory}">07로그인이력</a>
		<br><br>
		<div th:unless="${session.SID == null}" style="text-align: right;">
			<label>ID : [[${session.SID}]] | [[${session.SNAME}]] 님이 로그인하셨습니다.</label>
		</div>
	</div>
	<!-- end header -->
</html>