<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- contents layout:fragment 정의 -->
<th:block layout:fragment="customContents">
	<style>
		td{
			text-align: center;
		}
	</style>
	<form th:action="@{/memberList}" method="get" style="padding-bottom: 10px;">
		<!-- http://localhost/memberList?searchKey=memberId&searchValue=id001 -->
		<select name="searchKey">
			<option value="memberId">아이디</option>		
			<option value="memberLevel">권한</option>		
			<option value="memberName">이름</option>		
			<option value="memberEmail">이메일</option>		
		</select>
		<input type="text" name="searchValue"/>
		<button type="submit">검색</button>
	</form>
	<table border="1">
		<thead>
			<tr>
				<th>아이디</th>
				<th>비밀번호</th>
				<th>이름</th>
				<th>권한</th>
				<th>주소</th>
				<th>이메일</th>
				<th>회원등록일자</th>
				<th>상품코드</th>
				<th>상품명</th>
				<th>상품가격</th>
				<th>상품등록일자</th>				
				<th>수정</th>
				<th>삭제</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:if="${#lists.size(memberList) > 0}" th:each="l : ${memberList}">			
				<tr th:if="${#lists.size(l.productList) > 0}" th:each="p, status : ${l.productList}">
					<td th:if="${status.index == 0}" th:rowspan="${#lists.size(l.productList)}" th:text="${l.memberId}"></td>
					<td th:if="${status.index == 0}" th:rowspan="${#lists.size(l.productList)}" th:text="${l.memberPw}"></td>
					<td th:if="${status.index == 0}" th:rowspan="${#lists.size(l.productList)}" th:text="${l.memberName}"></td>
					<td th:if="${status.index == 0}" th:rowspan="${#lists.size(l.productList)}" th:text="${l.memberLevelName}"></td>
					<td th:if="${status.index == 0}" th:rowspan="${#lists.size(l.productList)}" th:text="${l.memberAddr}"></td>
					<td th:if="${status.index == 0}" th:rowspan="${#lists.size(l.productList)}" th:text="${l.memberEmail}"></td>
					<td th:if="${status.index == 0}" th:rowspan="${#lists.size(l.productList)}" th:text="${l.memberRegDate}"></td>
					<td th:text="${p.goodsCode}"></td>
					<td th:text="${p.goodsName}"></td>
					<td th:text="${p.goodsPrice}"></td>					
					<td th:text="${p.goodsRegDate}"></td>					
					<td>
						<!-- /medifyMember?memberId=id001 -->
						<a th:href="@{/modifyMember(memberId=${l.memberId})}">수정</a>
					</td>
					<td>
						<!-- /removeMember?memberId=id001 -->
						<a th:href="@{/removeMember(memberId=${l.memberId})}">삭제</a>
					</td>
				</tr>
				<tr th:unless="${#lists.size(l.productList) > 0}">
					<td th:text="${l.memberId}"></td>
					<td th:text="${l.memberPw}"></td>
					<td th:text="${l.memberName}"></td>
					<td th:text="${l.memberLevelName}"></td>
					<td th:text="${l.memberAddr}"></td>
					<td th:text="${l.memberEmail}"></td>
					<td th:text="${l.memberRegDate}"></td>
					<td colspan="4">등록된 상품이 없습니다.</td>
					<td>
						<!-- /medifyMember?memberId=id001 -->
						<a th:href="@{/modifyMember(memberId=${l.memberId})}">수정</a>
					</td>
					<td>
						<!-- /removeMember?memberId=id001 -->
						<a th:href="@{/removeMember(memberId=${l.memberId})}">삭제</a>
					</td>
				</tr>
			</th:block>
			<tr	th:unless="${#lists.size(memberList) > 0}">
				<td colspan="13">조회된 데이터가 없습니다</td>
			</tr>
		</tbody>
	</table>
</th:block>

</html>